@page
@model AboutModel
@{
}

<section id="about" class="container-fluid">
	<h1>About Sayd</h1>

	<div id="main-wrapper">
		<p>
			Sayd is an E-Commerce Fashion store created in 2023 by Ayden Smith, it began purely as a platform to
			integrate back-end development technologies to show on my GitHub to potential employers and further my
			skills in the use of technologies. <br />
			<br />
			As this site develops, it will undergo more changes such as adding the Bootstrap framework for
			responsiveness, inclusion of a product database and a fully working cart and user account portal.
		</p>
	</div>
</section>