@page
@model E_Commerce_Project.Pages.AccountModel
@{
}

<section id="account">
	<div id="main-wrapper">
		<div class="login-container">
			<div class="email-password">
				<h1>Login</h1>
				<p>Login with email address and password</p>
				<h3>Email Address</h3>
				<form><input type="text" placeholder="Enter valid email" /></form>
				<h3>Password</h3>
				<form><input type="text" placeholder="Enter valid email" /></form>
				<p>Password must be at least 8 letters, and must contain letters and numbers</p>
				<div>
					<button>Log In</button>
				</div>
			</div>
		</div>

		<div class="signup-container">
			<h1>Create an account</h1>
			<p>Sign up today for exclusive discounts, order history, and a faster checkout experience</p>
			<button>Create an account</button>
		</div>
	</div>
</section>