@page
@model E_Commerce_Project.Pages.ContactModel
@{
}

<section id="contact" class="container-fluid">
	<h1>Contact Us</h1>
	<p><strong>Phone: </strong>(+61) 479 142 226</p>
	<p><strong>Email: </strong>ayden_js@yahoo.com</p>
	<p>
		<strong>LinkedIn:</strong>
		<a href="https://www.linkedin.com/in/sayden945/"> https://www.linkedin.com/in/sayden945/</a>
	</p>
	<p>
		<strong>Github:</strong>
		<a href="https://github.com/Sayden945"> https://www.linkedin.com/in/sayden945/</a>
	</p>
</section>